/* Barra de navegacion*/
.body{
    font-family: 'Open Sans', sans-serif;
}
  
  .navbar-background {
    background-color: black;
    padding: -1rem;
    font-family: 'Open Sans', sans-serif;
    
  }

  .logo{
    background-color: #000; 
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items:center ;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0.3rem 3rem;
    border-radius: 20px;
  }
  
  .boton {
    display: block;
    padding: 1rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    
  }
  
  .nav-list li a:hover {
    background-color: white;
    color: black;
    border-radius: 3%;
  }
/* Tu CSS existente para pantallas grandes */

/* Media query solo para dispositivos móviles (ancho máximo de 678px) */
@media (max-width: 678px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  
    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      display: none;
    }
  
    .nav-list li {
      margin: 0.3rem 0;
      border-radius: 20px;
    }
  
    .menu-icon {
      font-size: 2rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
    }
  
    /* Estilo específico para el botón en dispositivos móviles */
    #menu-btn {
      background-color: white; /* Fondo blanco para el botón */
      color: black; /* Color del texto del botón */
      border: none;
      outline: none;
      padding: 0.5rem 1rem; /* Ajusta el tamaño del botón según sea necesario */
      border-radius: 3px; /* Borde redondeado */
    }
  
    .menu-toggle:checked + .menu-icon + .nav-list {
      display: block;
    }
    
  }
  
  /* Ocultar el botón en pantallas grandes */
  @media (min-width: 679px) {
    #menu-btn {
      display: none;
    }
  }
  
  
  
  

  

/* Estilos generales
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: white; }/* Fondo blanco en toda la página */

 /* CSS del html contacto*/
 .contact-body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.container-contact {
    max-width: 60%; /* Cambiado a porcentaje */
    margin: 0 auto;
    padding: 4%; /* Cambiado a porcentaje */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact select,
.form-contact textarea {
    padding: 2.5%; /* Cambiado a porcentaje */
    margin-bottom: 3.75%; /* Cambiado a porcentaje */
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
}

.form-contact label {
    margin-bottom: 2%; /* Cambiado a porcentaje */
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0.6rem;
}

/* Ajustar el checkbox más cerca del texto */

.check{
    align-items: center;
    display: flex;
    justify-items: center;
}

.buttons-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.33%; /* Cambiado a porcentaje */
}

.buttons-contact button {
    padding: 2.5%; /* Cambiado a porcentaje */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-contact button[type="submit"] {
    background-color: #6E07F3;
    color: #fff;
}

.buttons-contact button[type="reset"] {
    background-color: #ccc;
    color: #000;
}

.buttons-contact button:hover {
    background-color: #000000;
    color: white;
}

/* Termina el css de */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* El ancho del contenido central */
    max-width: 1200px;
    padding: 20px;
}

/* Estilos del botón "Sobre mí" y otros botones */
.about-button, .servicios-boton, .sotify-boton, .contacto-boton {
    display: inline-block;
    padding: 12px 20px; /* Ajusta el padding para espaciado */
    margin: 5px; /* Ajusta el margen entre los botones */
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}


.about-button:hover, .servicios-boton:hover, .sotify-boton:hover, .contacto-boton:hover {
    background-color: white;
    color: black;
}

/* Estilos para la sección con la imagen */
section.perfil article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.perfil img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Ajustar el ancho máximo al contenedor */
    height: auto; /* Ajustar la altura automáticamente */
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Estilos para la sección con los servicios */
section.Servicios aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.Servicios h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section.Servicios ul {
    list-style: disc;
    padding-left: 20px;
}



/*HTML SOBRE MI*/

.body-profile {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container-profile {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 100px; /* Ajusta el tamaño de la imagen de perfil */
    height: 100px; /* Ajusta el tamaño de la imagen de perfil */
    border-radius: 50%; /* Mantén la imagen de perfil redonda */
    margin-right: 20px;
    background-color: transparent;
}
.info h1 {
    margin: 0;
}
.info p {
    margin: 5px 0;
    color: #777;
}
/* Tu CSS existente para la sección .footer-container */
.social-links {
    text-align: center;
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    margin: 0.5rem;
    background-color: transparent; /* Elimina el fondo de los botones */
    text-decoration: none;
    border-radius: 50%; /* Puedes ajustar esto para hacer que los botones tengan bordes redondeados */
    transition: background-color 0.3s;
}

.social-links a img {
    width: 32px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 32px;
}

/* Puedes agregar un estilo de cambio de color de fondo cuando pasas el mouse sobre los botones */
.social-links a:hover {
    background-color: rgb(255, 255, 255); /* Cambia el color de fondo en el hover (puedes personalizar el color aquí) */
}

.bio h2 {
    margin-top: 20px;
}

/*HTML SERVICIOS*/


/* Tu CSS existente para pantallas grandes */

/* Cambiamos las medidas de píxeles (px) a unidades de rem */
.hero {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
  }
  
  .hero h2 {
    margin-bottom: 1rem;
  }
  
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3rem;
  }
  

    .services {
      text-align: center;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
      gap: 4rem; /* Agregamos espacio entre los elementos */
    }
  
  .service {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;


  }
  

  
  /* Media query para dispositivos móviles (opcional si lo deseas) */
  @media (max-width: 678px) {
    .hero {
      padding: 1rem;
    }
  
    .services {
      grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
      gap: 1rem;
      text-align: center;
      padding: 1rem;

    }
  
    .service img {
      width: 8rem; /* Reduce el tamaño de las imágenes en dispositivos móviles */
      height: 8rem;
    }
  }
  
  .footer-container {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
    color: #fff;
    border: 1px solid #ffffff; /* Agrega un borde */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    border-radius: 3px;
}



/*-------------------------------------HTML INDEX-----------------------------------*/

/* Estilos para la sección .perfil */
.index-section{
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
        font-family: 'Open Sans', sans-serif;
}

.index-div {
    flex: 1;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #000000;
}

.index-div-info{
    flex: 1;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #000000;
}

.index-div img {
    width: 150px; /* Tamaño de las imágenes */
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;

}

.index-article{

    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
        font-family: 'Open Sans', sans-serif;

}
.article-div{
    flex: 1;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #000000;
}
@media (max-width: 768px) {
    .index-section {
      flex-direction: column;
      align-items: center;
    }
  
    .index-div, .index-div-info, .article-div {
      flex: 1;
      margin: 0.5rem;
      padding: 1rem;
    }
  
    .index-div h1 {
      font-size: 1.5rem;
    }
  
 
  }
/* --------------------------portafolio-------------------------------- */

.portafolio-section {
  display: flex;
  justify-content: center;
  margin-top: 3%; /* Espacio por encima de las tarjetas en porcentaje */
  margin-bottom: 3%; /* Espacio por debajo de las tarjetas en porcentaje */
  padding: 30px;
}

.container-win {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 15px;
  overflow: hidden;
}

.window-title {
  height: 30px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.window-title p {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}

.window-buttons {
  display: flex;
  align-items: center;
}

.window-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.2s ease;
}

.window-button.close {
  background-color: #f00;
}

.window-button.close:hover {
  background-color: rgb(182, 2, 2);
  cursor: pointer;
}

.window-button.reduce {
  background-color: #ff0;
}

.window-button.reduce:hover {
  background-color: rgb(172, 172, 4);
  cursor: pointer;
}

.window-button.fullscreen {
  background-color: #0f0;
}

.window-button.fullscreen:hover {
  background-color: rgb(7, 159, 7);
  cursor: pointer;
}

.window-button:focus {
  outline: none;
}

.console {
  width: 100%;
  height: calc(100% - 30px);
  background-color: #000;
  color: #fff;
  overflow: auto;
}

.console pre {
  margin: 0;
  padding: 5px;
  font-size: 15px;
}

.console pre code {
  color: #0f0;
  outline: none;
}

.console::-webkit-scrollbar {
  width: 8px;
}

.console::-webkit-scrollbar-track {
  background-color: #333;
}

.console::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 2px solid #333;
}

.console::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}



.card-img-top{
  padding: 1rem;
}

.row {
  padding: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.col{
  
    /* flex: 1 0 0%; */
    padding: 1rem;
}
@media (max-width: 678px) {

.col{
  flex: auto;
}

}

.text-white{
  background-color: #6E07F3;
}

.color{
  color: #6E07F3;
}
.btn-dark{
  background-color: #6E07F3;
}

.container-nosotros{

  background-color: #6E07F3;
  padding: 3rem;
  display: grid;
  grid-row: auto;
grid-template-columns: 1fr 1fr;
gap: 3rem;

}
.texto-nosotros{
  color: #ffffff;
  text-align: justify;
  margin: 4rem;

}
.titulo-nosotros{
  text-align: center;
  padding: 2rem;
  color: #000;
  
}
.img-nosotros{
  height: 20rem;
 
}
@media (max-width: 768px) {
  .container-nosotros {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas de 768px o menos */
  }
}