/* Button Styles for Sections */
.about-button,
.servicios-boton,
.sotify-boton,
.contacto-boton {
  display: inline-block;
  padding: 12px 20px;
  margin: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

.card-text{
margin: -1%;
}
.about-button:hover,
.servicios-boton:hover,
.sotify-boton:hover,
.contacto-boton:hover {
  background-color: white;
  color: black;
}

.boton {
    display: block;
    padding: 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
 
  /* Estilos para los botones de sección */
  .about-button,
  .servicios-boton,
  .sotify-boton,
  .contacto-boton {
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  .about-button:hover,
  .servicios-boton:hover,
  .sotify-boton:hover,
  .contacto-boton:hover {
    background-color: white;
    color: black;
  }
/* Estilos del botón "Sobre mí" y otros botones */
.about-button, .servicios-boton, .sotify-boton, .contacto-boton {
    display: inline-block;
    padding: 12px 20px; /* Ajusta el padding para espaciado */
    margin: 5px; /* Ajusta el margen entre los botones */
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .about-button:hover, .servicios-boton:hover, .sotify-boton:hover, .contacto-boton:hover {
    background-color: white;
    color: black;
  }

  .container-nosotros {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9668242296918768) 0%,
      rgba(110, 7, 243, 1) 50%,
      rgba(0, 0, 0, 0.9668242296918768) 100%
    );
    padding: 3rem;
    display: grid;
    flex-wrap: wrap;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
  
  .texto-nosotros {
    color: #ffffff;
    text-align: justify;
    display: grid;
    padding: 1rem;
  }
  
  .titulo-nosotros {
    text-align: center;
    padding: 2rem;
    color: #000;
  }
  .services {
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 4rem; /* Agregamos espacio entre los elementos */
    overflow-x: hidden;
  }
  
  .service {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem #6E07F3;
    padding: 1rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .cards-column{
 height: 100%;
  }

.card-left {
    box-shadow: rgba(110, 7, 243, 0.4) -5px 5px, rgba(110, 7, 243, 0.3) -10px 10px, rgba(110, 7, 243, 0.2) -15px 15px, rgba(110, 7, 243, 0.1) -20px 20px, rgba(110, 7, 243, 0.05) -25px 25px;
  }
  
  .card-center {
    box-shadow: rgba(110, 7, 243, 0.4) 0px 5px, rgba(110, 7, 243, 0.3) 0px 10px, rgba(110, 7, 243, 0.2) 0px 15px, rgba(110, 7, 243, 0.1) 0px 20px, rgba(110, 7, 243, 0.05) 0px 25px;
  }
  
  .card-right {
    box-shadow: rgba(110, 7, 243, 0.4) 5px 5px, rgba(110, 7, 243, 0.3) 10px 10px, rgba(110, 7, 243, 0.2) 15px 15px, rgba(110, 7, 243, 0.1) 20px 20px, rgba(110, 7, 243, 0.05) 25px 25px;
  }
.cards-mentor{
    margin: 1rem;
}