  
  @media (max-width: 678px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-list {
      text-align: center;
      display: none;
    }
  
    .nav-list li {
      margin: 0.3rem 0;
      border-radius: 20px;
    }
  
    .menu-icon {
      font-size: 2rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
    }
  
    #menu-btn {
      background-color: white;
      color: black;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      border-radius: 3px;
    }
  
    .menu-toggle:checked + .menu-icon + .nav-list {
      display: block;
    }
  }
          /* Media query para dispositivos móviles (opcional si lo deseas) */
          @media (max-width: 768px) {
            .hero {
              padding: 1rem;
            }
            .service{
                display: block;
                margin: 1rem;
            }
          
            .services {
              display: block;
              text-align: center;
              padding: 0.2rem;
              overflow-x: hidden;
              margin: 0.5rem;
            }
          
            .service img {
              width: 8rem; /* Reduce el tamaño de las imágenes en dispositivos móviles */
              height: 8rem;
            }
          }
  @media (min-width: 679px) {
    #menu-btn {
      display: none;
    }
  }

  /* Ocultar el botón de menú en pantallas grandes */
@media (min-width: 679px) {
    #menu-btn {
      display: none;
    }
  }
  
  @media (max-width: 678px) {
    .container-contact{
        margin: 1rem;
    }
      }


  @media (max-width: 678px) {
    .col {
      flex: auto;
      padding: 1rem;
    }
  }
  @media (max-width: 768px) {
    .container-nosotros {
      padding: 0.1rem;
      gap: 0rem;
      display: block;
          }
          .texto-nosotros{
            grid-template-columns: -1rem;
          }
          .img-nosotros {
            height: 30rem;
            display: grid;
            margin: auto;
          }
  }
  